{% extends 'cms/base.html' %}
{% block content %}
    <h1>О компании</h1>
    <blockquote>
        <p>«Архимед как-то сказал: «Дайте мне точку опоры, и я переверну Землю». Сегодня он ткнул бы пальцем в наши электрические средства коммуникации и сказал: «Я обопрусь на ваши глаза, уши, нервы и мозг, и мир будет вертеться в любом ритме и на любой манер, как только я пожелаю».</p>
        <cite>Маршалл Маклюэн «Понимание медиа: внешние расширения человека»</cite>
    </blockquote>
    <p>Каждая технология несет в себе положительные и отрицательные стороны. Мирный атом невозможен без ядерного оружия. Все зависит от человека. Сегодня человечество предпринимает попытку перенести жизнь в виртуальное пространство. Развитие технологий постепенно предоставляет нам такую возможность. И слова теоретика влияния средств коммуникации на человека все чаще воспринимаются как предостережение.</p>
    <p>Наш сайт видит свою цель в качественной интеграции технологий виртуальной и дополненной реальности в жизнь простого человека. Мы не будем повторять заклинание, набившее оскомину – VR это будущее, мир уже никогда не будет прежним. Мы не знаем этого. Пока нам этот путь представляется тернистым и неоднозначным. И мы предлагаем пройти этот путь вместе с нами.</p>
    <p>Ежедневно Вы будете получать новости, статьи, обзоры и интервью о самых значимых продуктах, компаниях и людях, которые уже в эту минуту «немножко» изменяют мир. Надеемся, что к лучшему.</p>
    <p>Стоит отметить, что мы настроены на конструктивное сотрудничество со Всеми представителями отрасли. Конечно, у нас будут ошибки. Но мы верим, что, только работая над собой, можно прийти к качественному росту и серьезному продукту.</p>
    <p>Если у Вас возникли вопросы, предложения и замечания, пишите нам:</p>
    <ul>
        <li><a href="mailto: admin@gmail.com">admin@gmail.com</a></li>
    </ul>
    <p>Спасибо, что читаете.</p>
{% endblock content %}